<div id="header"><h1>You found the Outdoor Experts!<img src="outdoorlove.jpg" alt="Backpacking" style="width:150px;height:100px;"></h1></div>

<br>
<div id="nav">
<a href="default.asp"><img src="backpacking1.jpg" alt="backpacking" style="width:75px;height:75px;border:0">Backpacking</a>

<a href="default.asp"><img src="hiking.png" alt="backpacking" style="width:75px;height:75px;border:0">Hiking</a>

<a href="default.asp"><img src="camping.png" alt="backpacking" style="width:75px;height:75px;border:0">Camping</a>

<a href="default.asp"><img src="rockclimbing.png" alt="backpacking" style="width:75px;height:75px;border:0">Climbing</a>
</div>

<br>
<div ng-show="questions.length">
  <h1>Here are all questions:</h1>
  <ul>
    <li ng-repeat="item in questions">
      <a ui-sref="questions.answers({ questionId: item.id })">{{ item.title }}</a>
    </li>
  </ul>
</div>

<div class="col-md-4">
  <h3>Ask a Question!</h3>
  <form ng-submit="QuestionsFactory.addQuestion()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="QuestionsFactory.questionTitle" class="form-control" placeholder="Ask your question">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div ui-view> </div>
