<script type="text/ng-template" id="group-template.html">
   <div class="panel {{panelClass || 'panel-default'}}">
     <div class="panel-heading">
       <h4 class="panel-title" style="color:#fa39c3">
         <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
           ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
       </h4>
     </div>
     <div class="panel-collapse collapse" uib-collapse="!isOpen">
       <div class="panel-body" style="text-align: right" ng-transclude></div>
     </div>
   </div>
 </script>

<h1>Rockclimbing Checklist</h1>
<uib-accordion close-others="oneAtATime">
  <uib-accordion-group heading="Basic Climbing Gear">
    <div ng-repeat="gear in gears">
     <label><input type = "checkbox" ng-model="deleted"></label>
     <label ng-class="{strike: deleted, bold: important, 'has-error': error}" class="editing-label">{{gear.name}}</label>
     <input ng-hide="!editing" ng-model="todo.name" class="editing-label" type="text"/>
    </div>
  </uib-accordion-group>

<uib-accordion close-others="oneAtATime">
   <uib-accordion-group heading="Bouldering">
     <div ng-repeat="bouldering in boulderings">
       <label><input type = "checkbox" ng-model="deleted"></label>
       <label ng-class="{strike: deleted, bold: important, 'has-error': error}" class="editing-label">{{bouldering.name}}</label>
       <input ng-hide="!editing" ng-model="todo.name" class="editing-label" type="text"/>
     </div>
   </uib-accordion-group>

<uib-accordion close-others="oneAtATime">
  <uib-accordion-group heading="Top Roping">
    <div ng-repeat="rope in ropes">
      <label><input type = "checkbox" ng-model="deleted"></label>
      <label ng-class="{strike: deleted, bold: important, 'has-error': error}" class="editing-label">{{rope.name}}</label>
      <input ng-hide="!editing" ng-model="todo.name" class="editing-label" type="text"/>
    </div>
  </uib-accordion-group>

<uib-accordion close-others="oneAtATime">
  <uib-accordion-group heading="Sport Climbing">
     <div ng-repeat="sport in sports">
       <label><input type = "checkbox" ng-model="deleted"></label>
       <label ng-class="{strike: deleted, bold: important, 'has-error': error}" class="editing-label">{{sport.name}}</label>
       <input ng-hide="!editing" ng-model="todo.name" class="editing-label" type="text"/>
     </div>
  </uib-accordion-group>

<uib-accordion close-others="oneAtATime">
  <uib-accordion-group heading="Trad Climbing">
    <div ng-repeat="trad in trads">
      <label><input type = "checkbox" ng-model="deleted"></label>
      <label ng-class="{strike: deleted, bold: important, 'has-error': error}" class="editing-label">{{trad.name}}</label>
      <input ng-hide="!editing" ng-model="todo.name" class="editing-label" type="text"/>
    </div>
  </uib-accordion-group>

<uib-accordion close-others="oneAtATime">
 <uib-accordion-group heading="Ice/Mixed Climbing">
   <div ng-repeat="ice in ices">
     <label><input type = "checkbox" ng-model="deleted"></label>
     <label ng-class="{strike: deleted, bold: important, 'has-error': error}" class="editing-label">{{ice.name}}</label>
     <input ng-hide="!editing" ng-model="todo.name" class="editing-label" type="text"/>
   </div>
 </uib-accordion-group>

<uib-accordion close-others="oneAtATime">
  <uib-accordion-group heading="First-Aid Supplies">
    <div ng-repeat="firstaid in firstaids">
      <label><input type = "checkbox" ng-model="deleted"></label>
      <label ng-class="{strike: deleted, bold: important, 'has-error': error}" class="editing-label">{{firstaid.name}}</label>
      <input ng-hide="!editing" ng-model="todo.name" class="editing-label" type="text"/>
    </div>
</uib-accordion-group>

<uib-accordion close-others="oneAtATime">
  <uib-accordion-group heading="Nutrition">
    <div ng-repeat="nutrition in nutritions">
      <label><input type = "checkbox" ng-model="deleted"></label>
      <label ng-class="{strike: deleted, bold: important, 'has-error': error}" class="editing-label">{{nutrition.name}}</label>
      <input ng-hide="!editing" ng-model="todo.name" class="editing-label" type="text"/>
    </div>
  </uib-accordion-group>

<uib-accordion close-others="oneAtATime">
   <uib-accordion-group heading="Hydration">
     <div ng-repeat="hydration in hydrations">
       <label><input type = "checkbox" ng-model="deleted"></label>
       <label ng-class="{strike: deleted, bold: important, 'has-error': error}" class="editing-label">{{hydration.name}}</label>
       <input ng-hide="!editing" ng-model="todo.name" class="editing-label" type="text"/>
     </div>
   </uib-accordion-group>

<uib-accordion close-others="oneAtATime">
    <uib-accordion-group heading="Partners">
      <div ng-repeat="partner in partners">
        <label><input type = "checkbox" ng-model="deleted"></label>
        <label ng-class="{strike: deleted, bold: important, 'has-error': error}" class="editing-label">{{partner.name}}</label>
        <input ng-hide="!editing" ng-model="todo.name" class="editing-label" type="text"/>
      </div>
    </uib-accordion-group>
    </div>
  </div>
</body>
